@page "/core-rules/actions-reactions"
@using Deedforge.Shared.Compendium
@using Deedforge.Domain.CoreRules.ActionsReactions;
@using Action = Deedforge.Domain.CoreRules.ActionsReactions.Action;

<PageTitle>
    Core Rules - Actions & Reactions
</PageTitle>

<h1>Actions & Reactions</h1>

<br />

<MudGrid Justify="Justify.SpaceBetween">

    <MudItem xs="5">
        <MudText Typo="@Typo.h5">
            Actions
        </MudText>
        <br />
        <MudText Typo="@Typo.body1">
            Actions are any activities a character can perform during their turn in combat or other situations.
            <br />
            <br />
            Actions can be used to move, attack, cast spells, or perform other tasks.
        </MudText>
    </MudItem>

    <MudItem xs="5">
        <MudText Typo="@Typo.h5">
            Reactions
        </MudText>
        <br />
        <MudText Typo="@Typo.body1">
            Reactions are special actions that can be taken outside of a character's turn in response to specific triggers or events. A character has limited number of Reactions per Round, which they regain at the start of their turn.
            <br />
            <br />
            Certain features and effects can grant additional Reactions or modify how Reactions work.
            <br />
            <br />
            Reactions can be used to defend against attacks, counter spells, or perform other tasks.
        </MudText>
    </MudItem>

</MudGrid>

<br />
<br />

<MudDataGrid Items="@Compendium.CompendiumData.Actions"
             ReadOnly="true" EditMode="@DataGridEditMode.Cell"
             Row>
    <Columns>
        <HierarchyColumn T="Action" ButtonDisabledFunc="@(x => x.SuccessActions is null)" />
        <PropertyColumn Property="x => x.Name">
            <HeaderTemplate>
                <MudText Typo="Typo.h6">Action</MudText>
            </HeaderTemplate>
            <CellTemplate>
                <MudText Typo="Typo.body1"><strong>@context.Item.Name</strong></MudText>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Description">
            <HeaderTemplate>
                <MudText Typo="Typo.h6">Description</MudText>
            </HeaderTemplate>
            <CellTemplate>
                <MudText Typo="Typo.body1"><i>@context.Item.Description</i></MudText>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.IsReaction">
            <HeaderTemplate>
                <MudText Typo="Typo.h6">Is Reaction?</MudText>
            </HeaderTemplate>
            <CellTemplate>
                @if (context.Item.IsReaction)
                {
                    <MudText Typo="Typo.body1">Yes</MudText>
                }
                else
                {
                    <MudText Typo="Typo.body1">No</MudText>
                }
            </CellTemplate>
        </PropertyColumn>
    </Columns>
    <ChildRowContent>
        <Deedforge.Client.Components.SuccessActionsComponent Actions="@context.Item.SuccessActions" />
    </ChildRowContent>
    <PagerContent>
        <MudDataGridPager T="Action" />
    </PagerContent>
</MudDataGrid>

<br />
<br />

<MudGrid Justify="Justify.SpaceBetween">

    <MudItem xs="5">
        <MudText Typo="@Typo.h5">
            What are Attacks?
        </MudText>

        <br />

        <MudText Typo="@Typo.body1">
            Attacks are any Actions or Reactions that explicitly seek to harm or negatively affect another character or creature.
            <br />
            <br />
            Attacks strive to reduce the target's Endurance, and can have additional effects or consequences.
            <br />
            <br />
            Unless specified otherwise, Challenge Modifier for Attacks is always the target's Endurance.
        </MudText>
    </MudItem>

    <MudItem xs="5">
        <MudText Typo="@Typo.h5">
            Attack Types
        </MudText>

        <br />

        <MudText Typo="@Typo.body1">
            Attack Types are general categories that describe the nature of an attack, and can be affected by various features and effects.
            <br />
            <br />
            Attack Types are:
            <br />
            <br />
            • Melee Attacks
            <br />
            • Ranged Attacks
            <br />
            • Melee Spell Attacks
            <br />
            • Ranged Spell Attacks
            <br />
            • Area Attacks
        </MudText>
    </MudItem>

</MudGrid>

<br />
<br />

<MudText Typo="@Typo.h5">
    Retaliations
</MudText>

<br />

<MudText Typo="@Typo.body1">
    Retaliations are special Reactions that can be taken in response to a specific Attack or Action that targets the character.
    <br />
    <br />
    Retaliations do not count against the character's Reaction limit, and can be used even if the character has already used their Reaction for the Round.
    <br />
    <br />
    When a character Retaliates, they make an Attack against the attacker. The Attack must be one that the character otherwise could have made.
</MudText>
