@page "/core-rules/damage"

@using Deedforge.Domain.CoreRules
@using Deedforge.Shared.Compendium

<PageTitle>
    Core Rules - Damage
</PageTitle>

<h1>Damage</h1>

<br />

<MudText Typo="@Typo.body1">
    Damage represents the immediate harm inflicted on a character during combat or hazardous situations, and is a synonym for when a character loses Endurance.
    <br />
    <br />
    When a character is hit by an attack or affected by a damaging effect, they take damage. The amount of damage is subtracted from the character's Endurance.
</MudText>

<br />
<br />

<MudText Typo="@Typo.h5">
    Grit
</MudText>

<br />

<MudText Typo="@Typo.body1">
    Grit is a temporary pool of points that absorb damage instead of Endurance.
    <br />
    <br />
    When a character takes damage, they can spend Grit to reduce the damage taken. The amount of damage that is not absorbed by Grit is subtracted from the character's Endurance.
</MudText>

<br />
<br />

<MudText Typo="@Typo.h5">
    Heroic Moments & Scars
</MudText>

<br />

<MudText Typo="@Typo.body1">
    Scars are more severe and lasting forms of harm that occur when a character's defenses are overwhelmed. If the character's Endurance is reduced to zero, the character enters a <b>Heroic Moment</b>.
    <br />
    <br />
    While the Heroic Moment is active, the character gains the following benefits:
    <br />
    <br />
    • Immediately after the current turn ends, the character takes a special turn aside from their normal turn.
    <br />
    • Ignores the effects of all damage.
    <br />
    • All Reactions and Retaliations targeting the character automatically become Fumbled Successes.
    <br />
    <br />
    When the Heroic Moment ends, the character chooses one Scar from the list. The character then regains their entire Endurance pool and continues the fight.
    <br />
    <br />
    <b>On gaining the fourth Scar, the character retires. It is up to the Guide and the player to determine the character's fate.</b>
    <br />
    <br />
    Unlike damage, which is temporary and easily recovered, Scars represent significant psychological trauma that have ongoing effects on character's behavior and reputation. More information about Scars can be found <MudLink href="/core-rules/reputation">here</MudLink>.
</MudText>
