@page "/core-rules/skills-list"

<PageTitle>
    Core Rules - List of Skills
</PageTitle>

<h1>List of Skills</h1>

<br />

<MudText Typo="@Typo.h5">
    Fortitude
</MudText>

<br />

<MudGrid>
    <MudItem xs="6">
        <MudText Typo="@Typo.body1">
            Determines your ability to resist physically restraining effects and effects of exhaustion, as well as your ability to hold your breath.
        </MudText>
    </MudItem>
    <MudItem xs="6">
        <MudSimpleTable Outlined="true">
            <tbody>
                <tr>
                    <td><strong>Athletics</strong></td>
                    <td>Determines your ability to move or lift heavy objects, as well increasing your carrying capacity.</td>
                </tr>
                <tr>
                    <td><b>Defense</b></td>
                    <td>Determines your ability to protect yourself through use of various armors and shields.</td>
                </tr>
                <tr>
                    <td><b>Health</b></td>
                    <td>Determines your maximum number of Wounds and ability to resist various poisons and diseases.</td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </MudItem>
</MudGrid>

<br />

<MudDivider />

<br />

<MudText Typo="@Typo.h5">
    Reflex
</MudText>

<br />

<MudGrid>
    <MudItem xs="6">
        <MudText Typo="@Typo.body1">
            Determines your ability to dodge and evade various projectile or area effects.
        </MudText>
    </MudItem>
    <MudItem xs="6">
        <MudSimpleTable Outlined="true">
            <tbody>
                <tr>
                    <td><strong>Acrobatics</strong></td>
                    <td>Determines your ability to maintain balance and perform acrobatic stunts.</td>
                </tr>
                <tr>
                    <td><strong>Perception</strong></td>
                    <td>Determines your general awareness of your surroundings, as well as your ability to spot, hear or otherwise detect the presence of something.</td>
                </tr>
                <tr>
                    <td><strong>Subterfuge</strong></td>
                    <td>Determines your ability to conceal yourself and to prevent yourself and your actions from being seen or noticed.</td>
                </tr>
                <tr>
                    <td><strong>Survival</strong></td>
                    <td>Determines your ability to follow tracks, hunt wild game, avoid natural hazards, etc.</td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </MudItem>
</MudGrid>

<br />

<MudDivider />

<br />

<MudText Typo="@Typo.h5">
    Intellect
</MudText>

<br />

<MudGrid>
    <MudItem xs="6">
        <MudText Typo="@Typo.body1">
            Determines your ability to resist magical effects and overall ability to gain new knowledge.
        </MudText>
    </MudItem>
    <MudItem xs="6">
        <MudSimpleTable Outlined="true">
            <tbody>
                <tr>
                    <td><strong>Animal Handling</strong></td>
                    <td>Determines your ability to handle domestic animals, intuit wild animal’s intentions and to keep a mount from getting spooked.</td>
                </tr>
                <tr>
                    <td><strong>Arcana</strong></td>
                    <td>Determines your ability to recall knowledge about spells, magic items, arcane traditions and magical creatures.</td>
                </tr>
                <tr>
                    <td><strong>Architecture</strong></td>
                    <td>Determines your ability to recall knowledge about buildings, building materials and their designs.</td>
                </tr>
                <tr>
                    <td><strong>History</strong></td>
                    <td>Determines your ability to recall knowledge about past events, famous people, notable historic places, etc.</td>
                </tr>
                <tr>
                    <td><strong>Investigation</strong></td>
                    <td>Determines your ability to search for clues in your surroundings and make deductions based on patterns.</td>
                </tr>
                <tr>
                    <td><strong>Medicine</strong></td>
                    <td>Determines your ability to recall knowledge about wounds and illnesses, as well as how to treat them.</td>
                </tr>
                <tr>
                    <td><strong>Nature</strong></td>
                    <td>Determines your ability to recall knowledge about natural terrain, plants, animals and weather.</td>
                </tr>
                <tr>
                    <td><strong>Religion</strong></td>
                    <td>Determines your ability to recall knowledge about deities, religions, cults, holy symbols, etc.</td>
                </tr>
                <tr>
                    <td><strong>Technology</strong></td>
                    <td>Determines your ability to analyze, create and use technologically-advanced objects, such as firearms.</td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </MudItem>
</MudGrid>

<br />

<MudDivider />

<br />

<MudText Typo="@Typo.h5">
    Charisma
</MudText>

<br />

<MudGrid>
    <MudItem xs="6">
        <MudText Typo="@Typo.body1">
            Determines your ability to resist mind-altering effects, as well as your ability to resist being frightened or otherwise terrified.
        </MudText>
    </MudItem>
    <MudItem xs="6">
        <MudSimpleTable Outlined="true">
            <tbody>
                <tr>
                    <td><strong>Deception</strong></td>
                    <td>Determines your ability to convincingly hide the truth, either verbally or through your actions.</td>
                </tr>
                <tr>
                    <td><strong>Insight</strong></td>
                    <td>Determines your ability to gauge true intentions of an intelligent creature and to discern truth from lies.</td>
                </tr>
                <tr>
                    <td><strong>Intimidation</strong></td>
                    <td>Determines your ability to influence someone through use of threats and fear.</td>
                </tr>
                <tr>
                    <td><strong>Performance</strong></td>
                    <td>Determines your ability to amaze people with music, dance, storytelling, etc.</td>
                </tr>
                <tr>
                    <td><strong>Persuasion</strong></td>
                    <td>Determines your ability to influence someone with tact, cordial requests, and general likeability.</td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </MudItem>
</MudGrid>

<br />

<MudDivider />

<br />

<MudText Typo="@Typo.h5">
    Weaponry
</MudText>

<br />

<MudGrid>
    <MudItem xs="6">
        <MudText Typo="@Typo.body1">
            Weaponry is a special Attribute that doesn’t determine on its own anything in particular, but rather serves to group all Weapon Skills into one group.
        </MudText>
    </MudItem>
    <MudItem xs="6">
        <MudSimpleTable Outlined="true">
            <tbody>
                <tr>
                    <td><strong>Magic Weapons</strong></td>
                    <td>Determines your ability to wield and attack with Magic weapons.</td>
                </tr>
                <tr>
                    <td><strong>One-handed Weapons</strong></td>
                    <td>Determines your ability to wield and attack with One-handed weapons.</td>
                </tr>
                <tr>
                    <td><strong>Ranged Weapons</strong></td>
                    <td>Determines your ability to wield and attack with Ranged weapons.</td>
                </tr>
                <tr>
                    <td><strong>Two-handed Weapons</strong></td>
                    <td>Determines your ability to wield and attack with Two-handed weapons.</td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </MudItem>
</MudGrid>

<br />
<br />