@page "/core-rules/skills"

<PageTitle>
    Core Rules - Skills
</PageTitle>

<h1>Skills</h1>

<br />

<MudGrid>
    <MudItem xs="6">
        <MudText Typo="@Typo.body1">
            The skills are the bread and butter of who your character is and what they can do.
            <br />
            <br />
            Skills are used to determine how well you do anything that you attempt to do, be it recall knowledge about particular subject, strike a foe or resist a mind-bending effect.
            <br />
            <br />
            Character's starting Skill Proficiencies are defined as part of the <MudLink Href="/character-creation">Character Creation</MudLink> process.
            <br />
            <br />
            <b>Base Die.</b> Base Die is always a d12. When making a Skill check, you always roll a Base Die, even if you are untrained in the skill.
            <br />
            <br />
            <b>Proficiency Die.</b> When you are making a Skill Check, you roll a Proficiency Die. Which die you roll depends your Proficiency tier with that skill.
        </MudText>
    </MudItem>
    <MudItem xs="6">
        <MudSimpleTable>
            <thead class="table-header">
                <tr>
                    <th><MudText Typo="@Typo.h6">Proficiency Tier</MudText></th>
                    <th><MudText Typo="@Typo.h6">Proficiency Die</MudText></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Inexperienced</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Trained</td>
                    <td>d4</td>
                </tr>
                <tr>
                    <td>Adept</td>
                    <td>d6</td>
                </tr>
                <tr>
                    <td>Veteran</td>
                    <td>d8</td>
                </tr>
                <tr>
                    <td>Master</td>
                    <td>d10</td>
                </tr>
                <tr>
                    <td>Legendary</td>
                    <td>d12</td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </MudItem>
</MudGrid>

<br />

<MudText Typo="@Typo.h5">
    Skill Checks
</MudText>

<br />

<MudText Typo="@Typo.body1">
    Skill Check is a roll made to determine the outcome of an action that requires a degree of skill or knowledge, and which uses a specific Skill.
    <br />
    In order to make a Skill Check, you roll a Base Die and a Proficiency Die corresponding to your proficiency in that Skill, and add the results together.
    <br />
    However, certain Actions that require a Skill Check may have an opposing force that you need to overcome, in which case you subtract the Challenge Modifier, which is defined by the Action itself, from your final result.
    <br />
    Therefore, the formula for a Skill Check is as follows:
    <br />
    <b>Skill Check Result = Base Die Result + Proficiency Die Result - Challenge Modifier</b>
</MudText>

<br />
<br />

<MudText Typo="@Typo.h5">
    Resolving Skill Checks & Determining Success Tiers
</MudText>

<br />

<MudText Typo="@Typo.body1">
    The resulting effect of a Skill Check depends on the <b>Success Tier</b>. Your final result falls into one of these Success Tiers:
    <br />
    <br />
    <b>6 and below:</b> Fumbled Success
    <br />
    <b>7-12:</b> Basic Success
    <br />
    <b>13-18:</b> Superior Success
    <br />
    <b>19 and above:</b> Epic Success
    <br />
    <br />
    <i>Additionally, you can choose to take lower Success Tier, should you wish to do so.</i>
</MudText>

<br />
<br />

<MudText Typo="@Typo.h5">
    Critical Rolls
</MudText>

<br />

<MudText Typo="@Typo.body1">
    Whenever you roll a maximum result on a Proficiency Die, it is considered you had a Critical Roll. When that happens, you can choose one of the following effects:
    <br />
    - Roll an additional Proficiency Die and add the result to your check.
    <br />
    - Gain an additional AP for that Turn.
    <br />
    <br />
    Critical Rolls can be triggered only once per Turn.
    <br />
    Certain features may grant you additional effects to choose when you roll a Critical Roll.
</MudText>

<br />
<br />

<MudText Typo="@Typo.h5">
    Attributes
</MudText>

<br />

<MudText Typo="@Typo.body1">
    Attributes are special Skills that are primarily used and called out by the Guide to determine whether a character can resist or persist through an effect they were exposed to.
    <br />
    <br />
    All Skills are split into four groups of Attributes. It is said that a Skill “contributes” to the Attribute it is assigned to.
</MudText>

<br />
<br />

<MudText Typo="@Typo.h5">
    Increasing Skills & Attributes
</MudText>

<br />

<MudText Typo="@Typo.body1">
    Whenever a character rolls maximum roll on a Base Die (12) when making a Skill Check, that is considered to be a <b>Breakthrough</b>. A character can have only three Breakthroughs per <MudLink Href="/adventuring/adventures">Adventure</MudLink> (or less, in case of shorter Adventures, as decided by the Guide), and can only have one Breakthrough per Skill per Adventure.
    <br />
    <br />
    When a Breakthrough happens, at the end of either that Sessions or Adventure (as decided by the player), that character gains a <MudLink Href="/character-rules/traits">Trait</MudLink> belonging to the Skill they rolled a Breakthrough in.
    <br />
    <br />
    For every <b>two</b> Traits a character has in a particular Skill, that Skill increases by one Proficiency Tier. A Skill cannot have higher Proficiency Tier than the Proficiency Tier of the Attribute it belongs to.
    <br />
    <br />
    For every <b>two</b> Proficiency Tiers in Skills contributing to a particular Attribute, that Attribute increases by one Proficiency Tier.
    <br />
    <br />
    Additionally, certain features may grant a character an ability for a specific Skill to contribute to additional Attributes.
</MudText>

<br />
<br />

<MudText Typo="@Typo.h5">
    Upper & Lower Hand
</MudText>

<br />

<MudText Typo="@Typo.body1">
    When you have Upper Hand on a Skill Check, you reroll the Base Die and take the higher result.
    <br />
    <br />
    When you have Lower Hand on a Skill Check, you reroll the Base Die and take the lower result. If you are Inexperienced in the Skill you are rolling with a Lower Hand, you then halve the result.
    <br />
    <br />
    Upper Hand and Lower Hand cancel each other out.
    <br />
    <br />
    You may have multiple instances of Upper Hand or Lower Hand on a single Skill Check.
    <br />
    - If you have double Upper Hand, instead of rerolling the Base Die, your Success Tier increases by one.
    <br />
    - If you have double Lower Hand, instead of rerolling the Base Die, your Success Tier decreases by one.
</MudText>

<br />
<br />

<MudText Typo="@Typo.h5">
    Exhaustion
</MudText>
<br />
<MudText Typo="@Typo.body1">
    <b>Exhaustion</b> represents a character's physical and mental fatigue. It accumulates as characters push themselves beyond their limits or face grueling challenges. Not sleeping, exerting yourself too much or getting hit by certain magical effects may result in Exhaustion.
    <br />
    <br />
    Exhaustion is measured in levels, and stacks up to 10 times. If a character reaches 10 levels of Exhaustion, they die.
    <br />
    <br />
    While a character has levels of Exhaustion, they have a negative modifier to all their Skill Checks equal to their current levels of Exhaustion.
    <br />
    <br />
    Characters can reduce their Exhaustion levels through proper rest, specific abilities, or magical means.
</MudText>
<br />
<br />

<MudText Typo="@Typo.h5">
    Group Checks
</MudText>

<br />

<MudText Typo="@Typo.body1">
    When the entire party of characters attempts to engage in a particular activity, the Guide may call for a <b>Group Check</b>.
    <br />
    <br />
    When a Group Check is called, the entire party rolls the Skill Check. If half or more of the rolls beat the DR (or contested roll), it is considered that the entire party succeeded.
    <br />
    <br />
    Every additional success after meeting the prerequisites is considered to increase Success Tier of the overall roll.
    <br />
    <br />
    If a character rolls double the DR of the check, it counts as an additional success.
</MudText>

<br />
<br />