@page "/adventuring/encounters"

<PageTitle>
    Adventuring - Encounters
</PageTitle>

<h1>Encounters</h1>

<br />

<MudText Typo="@Typo.body1">
    Encounters are turn-based scenarios that characters participate in with the goal of resolving a particular challenge.
    <br />
    <br />
    There are four distinct types of Encounters based on the nature of the challenge and how it is being resolved:
    <br />
    <br />
    • Combat Encounters
    <br />
    • Social Encounters
    <br />
    • Exploration Encounters
    <br />
    • Puzzle Encounters
</MudText>
<br />
<br />

<MudText Typo="@Typo.h5">
    Chained Encounters
</MudText>
<br />
<MudText Typo="@Typo.body1">
    An Encounter can start as one type and turn into a different one (as decided by the Guide) depending on player character actions. These are known as Chained Encounters.
    <br />
    <br />
    For example, a party of characters may try to gain access to a guarded location. They at first try negotiating with the guards, initiating a Social Encounter. If the party tries bribing the guards, who then turn hostile, this ends the Social Encounter and initiates a Combat Encounter.
    <br />
    <br />
    For simplicity, features and effects that can be used once per Encounter or last for the duration of an Encounter treat Chained Encounters as a single Encounter.
</MudText>

<br />
<br />

<MudText Typo="@Typo.h5">
    Readiness
</MudText>
<br />
<MudText Typo="@Typo.body1">
    Before entering an Encounter, the Guide will call for a Readiness Check. Everyone involved makes a Skill Check, which varies based on the type of encounter:
    <br />
    <br />
    • Combat Encounter: usually a Perception check.
    <br />
    • Social Encounter: usually a Charisma Skill check.
    <br />
    • Exploration Encounter: usually a Forestry check.
    <br />
    • Puzzle Encounter: usually an Intellect Skill check.
    <br />
    <br />
    The order of character turns in an Encounter is determined based on the results of the Check, with the highest result going first.
    <br />
    <br />
    The Guide may allow characters to roll a different Skill for their Readiness Check, depending on particular circumstances. For example, a character hiding in ambush may roll Subterfuge for their Readiness Check.
    <br />
    <br />
    Additionally, characters determined by the Guide to have been surprised gain Surprised Status which lasts until the end of the first Round.
</MudText>
<br />
<br />

<MudText Typo="@Typo.h5">
    Rounds
</MudText>
<br />
<MudText Typo="@Typo.body1">
    A Round in an Encounter comprises all participants having their turn. A turn is when a character gets to act and use their actions. Once everyone has gone, the Round ends and a new Round starts.
    <br />
    <br />
    Each Round is considered to have a specific length:
    <br />
    <br />
    • Combat Encounter – 10 seconds long (6 rounds = 1 minute).
    <br />
    • Social Encounter – Flexible, decided by the Guide.
    <br />
    • Exploration Encounter – Depends on Map Scale, may vary from hours to days or weeks.
    <br />
    • Puzzle Encounter – Flexible, decided by the Guide.
    <br />
    <br />
    If an effect or action can be used "once per round", it cannot be used by a character until that character starts its next turn.
</MudText>
<br />
<br />

<MudText Typo="@Typo.h5">
    Resolving the Encounter
</MudText>
<br />
<MudText Typo="@Typo.body1">
    Once the goals of the Encounter have been decided, players take turns describing their character's actions. The Guide calls for Skill checks based on these actions.
    <br />
    <br />
    Guides are encouraged to give the party descriptions of what their actions are accomplishing and provide hints on how remaining challenges may be tackled.
    <br />
    <br />
    Guides are advised to keep the momentum of the Encounter going, providing assistance to players if they're struggling or leveraging plot twists to remove obstacles when necessary.
</MudText>
<br />
<br />

<MudText Typo="@Typo.h5">
    Failure
</MudText>
<br />
<MudText Typo="@Typo.body1">
    The Guide may optionally define Failure conditions for the Encounter to establish a sense of urgency or raise the stakes.
    <br />
    <br />
    Some usual Failure conditions are:
    <br />
    <br />
    • The Encounter needs to be completed within a specific number of rounds.
    <br />
    • The Encounter needs to be completed before a third party (run by the Guide) completes the same or similar Encounter.
    <br />
    • Other conditions as determined by the Guide.
</MudText>

<br />
<br />