@page "/adventuring/treasures"

<PageTitle>
    Adventuring - Treasures & Consequences
</PageTitle>

<h1>Treasures & Consequences</h1>

<br />

<MudText Typo="@Typo.body1">
    Treasures are valuable rewards granted to characters upon the successful completion of an adventure. They represent the tangible fruits of the party's efforts and risks.
    <br />
    <br />
    When a character earns a Treasure, they choose the type of Treasure from one of four categories. Each category has an associated meaning and the type of reward. The "meaning" of the chosen category is a narrative element that the Guide and the player can use for character and world development, and represent the nature of a potential consequence of character's actions.
    <br />
    <br />
    <MudGrid Spacing="2" Justify="Justify.SpaceAround">
        <MudItem xs="3">
            <MudText Typo="@Typo.h5">
                Spirituality
            </MudText>
            <MudText Typo="@Typo.body2">
                Grants one additional <MudLink Href="/character-rules/traits">Trait</MudLink> belonging to a Skill for which the character had a Breakthrough during the Adventure.
            </MudText>
        </MudItem>
        <MudItem xs="3">
            <MudText Typo="@Typo.h5">
                Relationships
            </MudText>
            <MudText Typo="@Typo.body2">
                Grants three additional Reputation Tokens appropriate for the completed Adventure.
            </MudText>
        </MudItem>
        <MudItem xs="3">
            <MudText Typo="@Typo.h5">
                Conflicts
            </MudText>
            <MudText Typo="@Typo.body2">
                Grants one <MudLink Href="/gear/enchanted-items">Enchanted</MudLink> <MudLink Href="/gear/weapons">Weapon</MudLink>, <MudLink Href="/gear/armors">Armor</MudLink>, <MudLink Href="/gear/shields">Shield</MudLink> or <MudLink Href="/gear/adornments">Adornment</MudLink> for which the character has satisfied the prerequisites.
            </MudText>
        </MudItem>
        <MudItem xs="3">
            <MudText Typo="@Typo.h5">
                Wealth
            </MudText>
            <MudText Typo="@Typo.body2">
                Increases character's <MudLink Href="/gear/wealth">Wealth Tier</MudLink> by one.
            </MudText>
        </MudItem>
    </MudGrid>
</MudText>

<br />
<br />