@using Deedforge.Client.Helpers
@using Deedforge.Domain.CoreRules
@using Deedforge.Domain.Gear.Weapons

@if (Actions != null)
{
    foreach (var action in Actions)
    {
        <MudCard Class="my-8">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudGrid Justify="Justify.SpaceBetween">
                        <MudItem xs="4">
                            <MudText Typo="Typo.h5">@action.Name</MudText>
                            <br />
                            <MudText Typo="Typo.body1"><i>@action.Description</i></MudText>
                        </MudItem>
                        <MudItem xs="4">
                            <MudText Typo="Typo.h6"><i>@MarkupStringHelper.GetStringsWithCommas(@action.ActionTypes.Select(x => x.ToString()).ToList())</i></MudText>
                            <br />
                            <MudText Typo="Typo.body1"><b>Challenge Modifier: </b>@action.ChallengeModifier</MudText>
                        </MudItem>
                    </MudGrid>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudGrid Justify="Justify.Center" Class="py-8">
                    <MudItem xs="3">
                        <MudText Typo="Typo.h6">
                            Fumbled Success
                        </MudText>
                        <MudDivider Class="my-2" />
                        <MudText Typo="Typo.body1">
                            @action.Tier1
                        </MudText>
                    </MudItem>
                    <MudItem xs="3">
                        <MudText Typo="Typo.h6">
                            Basic Success
                        </MudText>
                        <MudDivider Class="my-2" />
                        <MudText Typo="Typo.body1">
                            @action.Tier2
                        </MudText>
                    </MudItem>
                    <MudItem xs="3">
                        <MudText Typo="Typo.h6">
                            Superior Success
                        </MudText>
                        <MudDivider Class="my-2" />
                        <MudText Typo="Typo.body1">
                            @action.Tier3
                        </MudText>
                    </MudItem>
                    <MudItem xs="3">
                        <MudText Typo="Typo.h6">
                            Critical Success
                        </MudText>
                        <MudDivider Class="my-2" />
                        <MudText Typo="Typo.body1">
                            @action.Tier4
                        </MudText>
                    </MudItem>
                </MudGrid>
            </MudCardContent>
        </MudCard>
    }
}
else
{
    <p>Weapon not provided.</p>
}

@code {
    [Parameter]
    public List<SuccessAction>? Actions { get; set; }
}
