@page "/gear/armors"
@using Deedforge.Client.Helpers
@using Deedforge.Domain.Gear.Armors
@using Deedforge.Shared.Compendium

<PageTitle>
    Gear - Armors
</PageTitle>

<h1>Armors</h1>

<div>
    <br />

    <MudText Typo="Typo.body1">Armors are a type of protective gear worn across the entirety of the body.</MudText>

    <br />

    <MudText Typo="Typo.body1"><b>Base Endurance</b> represents the base durability the character has while wearing a particular armor. Overall Endurance can be further increased with specific features and effects, but is also decreased when the character receives <MudLink Href="/core-rules/damage-wounds">Damage</MudLink>.</MudText>

    <br />

    <MudText Typo="Typo.body1"><b>Number of Reactions</b> shows how many Reactions can a character wearing a particular armor take each Round. More details regarding actions can be found here: <MudLink Href="/core-rules/actions-reactions">Actions & Reactions</MudLink></MudText>

    <br />

    <MudText Typo="Typo.body1"><b>Granted Actions</b> defines which <MudLink Href="/core-rules/actions-reactions">Actions & Reactions</MudLink> are granted to the character wearing the Armor.</MudText>
</div>

<br />
<br />

<MudDataGrid Items="@Compendium.CompendiumData.Armors"
             ReadOnly="true" EditMode="@DataGridEditMode.Cell">
    <Columns>
        <HierarchyColumn T="Armor" />
        <PropertyColumn Property="x => x.Name">
            <HeaderTemplate>
                <MudText Typo="Typo.h6">Armor</MudText>
            </HeaderTemplate>
            <CellTemplate>
                <MudText Typo="Typo.body1"><b>@context.Item.Name</b></MudText>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Description">
            <HeaderTemplate>
                <MudText Typo="Typo.h6">Description</MudText>
            </HeaderTemplate>
            <CellTemplate>
                <MudText Typo="Typo.body1"><i>@context.Item.Description</i></MudText>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Endurance">
            <HeaderTemplate>
                <MudText Typo="Typo.h6">Base Endurance</MudText>
            </HeaderTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.NumberOfReactions">
            <HeaderTemplate>
                <MudText Typo="Typo.h6">Number of Reactions</MudText>
            </HeaderTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.SuccessActions">
            <HeaderTemplate>
                <MudText Typo="Typo.h6">Granted Actions</MudText>
            </HeaderTemplate>
            <CellTemplate>
                @MarkupStringHelper.GetStringWithLineBreaks(context.Item.SuccessActions.Select(s => s.Name).ToList(), true)
            </CellTemplate>
        </PropertyColumn>
    </Columns>
    <ChildRowContent>
        <Deedforge.Client.Components.SuccessActionsComponent Actions="@context.Item.SuccessActions" />
    </ChildRowContent>
    <PagerContent>
        <MudDataGridPager T="Armor" />
    </PagerContent>
</MudDataGrid>
