@page "/gear/inventory"
@using Deedforge.Client.Helpers
@using Deedforge.Domain.Gear
@using Deedforge.Shared.Compendium

<PageTitle>
    Gear - Inventory
</PageTitle>

<h1>Inventory</h1>

<br />

<MudGrid>
    <MudItem xs="6">
        <MudText Typo="@Typo.h5">
            Gear
        </MudText>

        <br />

        <MudText Typo="Typo.body1">
            Gear (sometimes denoted as "equipment") refers to all the items being worn or carried by a character.
            <br />
            <br />
            An average adventurer's gear usually includes:
            <br />
            • An armor (if any)
            <br />
            • One or more weapons
            <br />
            • A backpack
            <br />
            • A collection of potions or other items that may provide assistance
        </MudText>
    </MudItem>
    <MudItem xs="6">
        <MudText Typo="@Typo.h5">
            Gear Types
        </MudText>

        <br />

        <MudText Typo="Typo.body1">
            Gear types are defined as follows:
            <br /><br />
            • <MudLink Href="/gear/armors">Armors</MudLink>
            <br />
            • <MudLink Href="/gear/shields">Shields</MudLink>
            <br />
            • <MudLink Href="/gear/weapons">Weapons</MudLink>
            <br />
            • <MudLink Href="/gear/adornments">Adornments</MudLink>
            <br />
            • <MudLink Href="/gear/adventuring-items">Adventuring Items</MudLink>
        </MudText>
    </MudItem>
</MudGrid>

<br />
<br />

<MudText Typo="@Typo.h5">
    Carrying Capacity
</MudText>

<br />

<MudText Typo="Typo.body1">
    A character can only carry so much items. The amount of items they can carry is defined by their Carrying Capacity.
    <br /><br />
    Carrying Capacity is calculated as follows:
    <br /><br />	
    <code>Carrying Capacity = 5 + Athletics Proficiency Tier</code>
</MudText>

<br />
<br />

<MudText Typo="@Typo.h5">
    Equipped Items
</MudText>

<br />

<MudText Typo="Typo.body1">
    Equipped items refers to any item that is being worn by the character, as opposed to item being carried in a backpack or other container.
    <br /><br />
    At any given time, a character can wear the following items:
    <br />
    • One set of armor
    <br />
    • Number of weapons or shields equal to the number of hands the character has
    <br />
    • One adornment
    <br />
    <br />
    • Two Adventuring Items
    <br />
    <br />
    Equipped items do not contribute to the Carrying Capacity.
    <br /><br />
    All Equipped items can be immediately used as an Action. Items in character's Inventory but not Equipped first need to be retrieved as an Action before they can be used. Certain gear may grant additional Equipped item slots.
</MudText>

<br />
<br />

<MudText Typo="@Typo.h5">
    Item Weight
</MudText>

<br />

<MudText Typo="Typo.body1">
    Items in Deedforge have a weight associated with them. The numbers used to denote weight are arbitrary and are only used to compare the weight of different items.
    <br /><br />
    Item weights are as follows:
    <br />
    • Light Armors have a weight of 1, Medium Armors have a weight of 2, and Heavy Armors have a weight of 3.
    <br />
    • Shields have a weight of 1.
    <br />
    • Weapons have a weight of 1, except for Heavy Weapons, which have a weight of 2.
    <br />
    • Adornments have a weight of 1.
    <br />
    • Adventuring items have variable weights, depending on the item. The weight of these items will be defined next to their description at their respective <MudLink Href="/gear/adventuring-items">page</MudLink>.
</MudText>
