@page "/gear/shields"
@using Deedforge.Shared.Compendium
@using Deedforge.Client.Helpers

<PageTitle>
    Gear - Shields
</PageTitle>

<h1>Shields</h1>

<div>
    <br />

    <MudText Typo="Typo.body1">Shields are defensive items that, just like Armors, require training in order to be properly used.</MudText>

    <br />

    <MudText Typo="Typo.body1">While wielding a Shield that you are trained in, you gain benefits and effects from the Properties column of the worn Shield.</MudText>

    <br />

    <MudText Typo="Typo.body1"><b>Grit</b> represents the overall durability the Shield has. When a character wielding the Shield takes <i>Block</i> Reaction, any received <MudLink Href="/core-rules/damage-wounds">Damage</MudLink> is subtracted from Shield's Grit instead of the character's Endurance. Character wielding a Shield can take <i>Raise Shield</i> action, which restores an amount of Grit to the Shield equal to the character's Defense Skill Tier.</MudText>
</div>

<br />
<br />

<MudTable Items="@Compendium.CompendiumData.Shields" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh><MudText Typo="Typo.h6">Name</MudText></MudTh>
        <MudTh><MudText Typo="Typo.h6">Description</MudText></MudTh>
        <MudTh><MudText Typo="Typo.h6">Grit</MudText></MudTh>
        <MudTh><MudText Typo="Typo.h6">Properties</MudText></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name"><strong>@context.Name</strong></MudTd>
        <MudTd DataLabel="Description"><i>@context.Description</i></MudTd>
        <MudTd DataLabel="Grit">@context.Grit</MudTd>
        <MudTd DataLabel="Properties">@MarkupStringHelper.GetMarkupString(context.Property)</MudTd>
    </RowTemplate>
</MudTable>
