@page "/gear/weapons"
@using Deedforge.Client.Helpers
@using Deedforge.Domain.Gear.Weapons
@using Deedforge.Shared.Compendium

<PageTitle>
    Gear - Weapons
</PageTitle>

<h1>Weapons</h1>

<div>
    <br />

    <MudText Typo="Typo.body1">Weapons are.</MudText>

    <br />

    <MudText Typo="Typo.body1"><b>TBD</b> TBD</MudText>
</div>

<br />
<br />

<MudDataGrid Items="@Compendium.CompendiumData.Weapons"
             ReadOnly="true" EditMode="@DataGridEditMode.Cell">
    <Columns>
        <HierarchyColumn T="Weapon" />
        <PropertyColumn Property="x => x.Name">
            <HeaderTemplate>
                <MudText Typo="Typo.h6">Weapon</MudText>
            </HeaderTemplate>
            <CellTemplate>
                <MudText Typo="Typo.body1"><strong>@context.Item.Name</strong></MudText>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Description">
            <HeaderTemplate>
                <MudText Typo="Typo.h6">Description</MudText>
            </HeaderTemplate>
            <CellTemplate>
                <MudText Typo="Typo.body1"><i>@context.Item.Description</i></MudText>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Types.ToString()">
            <HeaderTemplate>
                <MudText Typo="Typo.h6">Type</MudText>
            </HeaderTemplate>
            <CellTemplate>
                @MarkupStringHelper.GetStringWithLineBreaks(context.Item.Types.Select(t => t.ToString()).ToList(), false)
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Design.ToString()">
            <HeaderTemplate>
                <MudText Typo="Typo.h6">Design</MudText>
            </HeaderTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.SuccessActions">
            <HeaderTemplate>
                <MudText Typo="Typo.h6">Granted Actions</MudText>
            </HeaderTemplate>
            <CellTemplate>
                @MarkupStringHelper.GetStringWithLineBreaks(context.Item.SuccessActions!.Select(s => s.Name).ToList(), true)
            </CellTemplate>
        </PropertyColumn>
    </Columns>
    <ChildRowContent>
        <Deedforge.Client.Components.SuccessActionsComponent Actions="@context.Item.SuccessActions" />
    </ChildRowContent>
    <PagerContent>
        <MudDataGridPager T="Weapon" />
    </PagerContent>
</MudDataGrid>
