@page "/gear/weapons"
@using Deedforge.Client.Helpers
@using Deedforge.Domain.Gear.Weapons
@using Deedforge.Shared.Compendium
@using Deedforge.Shared.Helpers

<PageTitle>
    Gear - Weapons
</PageTitle>

<h1>Weapons</h1>

<br />

<MudText Typo="Typo.body1">Weapons are tools used to inflict damage on other characters or creatures.</MudText>

<br />

<br />

<MudText Typo="Typo.body1"><b>Types</b> shows the type of the Weapon and thus which Skill is needed to use it: Power, Precision, Mystical or Symbolic. A Weapon can have multiple types.</MudText>

<br />

<MudText Typo="Typo.body1"><b>Design</b> shows the design of the Weapon. Different designs grant different properties to the Weapon.</MudText>

<br />

<MudText Typo="Typo.body1"><b>Granted Actions</b> defines which <MudLink Href="/core-rules/actions-reactions">Actions & Reactions</MudLink> are granted to the character carrying the Weapon.</MudText>

<br />
<br />

<MudDataGrid Items="@Compendium.CompendiumData.Weapons"
             ReadOnly="true" EditMode="@DataGridEditMode.Cell">
    <Columns>
        <HierarchyColumn T="Weapon" />
        <PropertyColumn Property="x => x.Name">
            <HeaderTemplate>
                <MudText Typo="Typo.h6">Weapon</MudText>
            </HeaderTemplate>
            <CellTemplate>
                <MudText Typo="Typo.body1"><strong>@context.Item.Name</strong></MudText>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Description">
            <HeaderTemplate>
                <MudText Typo="Typo.h6">Description</MudText>
            </HeaderTemplate>
            <CellTemplate>
                <MudText Typo="Typo.body1"><i>@context.Item.Description</i></MudText>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Types.ToString()">
            <HeaderTemplate>
                <MudText Typo="Typo.h6">Type</MudText>
            </HeaderTemplate>
            <CellTemplate>
                @MarkupStringHelper.GetStringWithLineBreaks(context.Item.Types.Select(t => t.ToString()).ToList(), false)
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Design.ToString()">
            <HeaderTemplate>
                <MudText Typo="Typo.h6">Design</MudText>
            </HeaderTemplate>
            <CellTemplate>
                <MudTooltip>
                    <ChildContent>
                        <MudText Typo="Typo.body2" Class="border-dotted border-b" Style="cursor: help;">@context.Item.Design.ToString()</MudText>
                    </ChildContent>
                    <TooltipContent>
                        <MudText Typo="Typo.body2">@context.Item.Design.GetDescription()</MudText>
                    </TooltipContent>
                </MudTooltip>
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.SuccessActions">
            <HeaderTemplate>
                <MudText Typo="Typo.h6">Granted Actions</MudText>
            </HeaderTemplate>
            <CellTemplate>
                @MarkupStringHelper.GetStringWithLineBreaks(context.Item.SuccessActions!.Select(s => s.Name).ToList(), true)
            </CellTemplate>
        </PropertyColumn>
    </Columns>
    <ChildRowContent>
        <Deedforge.Client.Components.SuccessActionsComponent Actions="@context.Item.SuccessActions" />
    </ChildRowContent>
    <PagerContent>
        <MudDataGridPager T="Weapon" />
    </PagerContent>
</MudDataGrid>